﻿@import "../../app.less";

.mz-input-field {
    .property-container {

        md-input-container {
            margin-bottom: 0px;

            label {
                color: @major-color;
            }
        }

        .md-errors-spacer {
            min-height: 10px;
        }

        .md-button {
            min-width: 32px;
            width: 32px;
            min-height: 32px;
            height: 32px;
            padding: 4px;
            margin-top: 20px;

            .material-icons {
                padding: 0px;
                min-width: 18px;
                min-height: 18px;
                width: 18px;
                height: 18px;
                font-size: 18px;
            }
        }
    }
}
