﻿<div id="map-div" style="position:absolute;top:10px;left:10px;bottom:40px;right:10px;"></div>

<script type="text/javascript">
    window.onload = function () {
        var map = new Mapzania.Map("map-div","LONDON");
    }
</script>