﻿#body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  right: 0px;
}
#side-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  border-right: solid 3px #8C9EFF;
  background-color: white;
}
#side-bar md-toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
}
#side-bar md-list {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}
#property-bar {
  position: absolute;
  top: 0px;
  left: 300px;
  bottom: 0px;
  width: 300px;
  border-right: solid 3px #8C9EFF;
  background-color: white;
  opacity: 0.85;
}
#panel {
  position: absolute;
  top: 0px;
  left: 300px;
  bottom: 0px;
  width: 0px;
  background-color: white;
  transition: 0.2s;
  opacity: 0;
  overflow-y: auto;
}
#panel .panel-form {
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 30px;
}
#panel.open {
  width: 300px;
  border-right: solid 3px #8C9EFF;
  opacity: 0.95;
}
.mz-field-title {
  color: #8C9EFF;
}
.mz-table .mz-cell {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mz-table .mz-cell:last-child {
  border-bottom: none;
}
.mz-range-value-list {
  /*background-color: red;
    padding: 0px;*/
  /*md-list-item {
        min-height: 0px;
        line-height: 0px;
    }

    .md-button {
        min-height: 0px;
    }*/
}
.mz-range-value-list .md-subheader {
  margin: 0px;
  padding: 0px;
  /*background-color: green;*/
  line-height: 0px;
}
.mz-range-value-list md-list-item {
  height: 2em;
  min-height: initial;
}
.mz-range-value-list md-list-item .md-button,
.mz-range-value-list md-list-item .md-list-item-inner,
.mz-range-value-list md-list-item .md-secondary-container {
  height: 2em;
  min-height: initial;
}
.mz-range-value-list md-list-item > div.md-button {
  padding-right: 2px !important;
}
.mz-range-value-list md-list-item .md-secondary-container {
  padding: 0px;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary {
  margin: 0px;
  font-size: 16px !important;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary md-icon {
  /*border: solid 1px red;*/
  padding: 0px !important;
  margin: 0px !important;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary .md-ripple-container {
  margin-top: 6px;
  margin-left: 10px;
  /*border: solid 1px red;*/
  height: 20px!important;
  width: 20px!important;
}
.mz-layer-list md-list-item > div.md-button {
  padding-right: 2px !important;
}
.mz-layer-list md-list-item .md-secondary-container {
  padding: 0px;
}
.mz-layer-list md-list-item .md-secondary-container .md-secondary {
  margin: 0px;
}
.symbol-field md-input-container {
  margin-bottom: 0px;
}
.symbol-field md-input-container label {
  color: #8C9EFF !important;
}
.symbol-field .md-errors-spacer {
  min-height: 25px;
}
.symbol-field .md-button {
  min-width: 32px;
  width: 32px;
  min-height: 32px;
  height: 32px;
  padding: 4px;
  margin-top: 20px;
}
.symbol-field .md-button .material-icons {
  padding: 0px;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.symbol-field .se-preview {
  padding: 20px;
  padding-left: 18px;
  background-color: white;
  width: 22px;
  height: 20px;
  /*border: solid 1px black;*/
  border-radius: 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  cursor: pointer;
}
.symbol-field .se-input {
  cursor: pointer;
  font-size: 14px;
  /*text-align: center;*/
}