﻿@import "../../app.less";

.symbol-field {

    md-input-container {
        margin-bottom: 0px;

        label {
            color: @major-color!important;
        }
    }

    .md-errors-spacer {
        min-height: 25px;
    }

    .md-button {
        min-width: 32px;
        width: 32px;
        min-height: 32px;
        height: 32px;
        padding: 4px;
        margin-top: 20px;

        .material-icons {
            padding: 0px;
            min-width: 18px;
            min-height: 18px;
            width: 18px;
            height: 18px;
            font-size: 18px;
        }
    }

    .se-preview {
        padding: 20px;
        padding-left: 18px;
        background-color: white;
        width: 22px;
        height: 20px;
        /*border: solid 1px black;*/
        border-radius: 30px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
        cursor: pointer;
    }

    .se-input {
        cursor: pointer;
        font-size: 14px;
        /*text-align: center;*/
    }
}