﻿@major-color: #8C9EFF;
@dark_gray: #69737F;
@light_gray: #929aa3;

#body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 300px;
    right: 0px;
}

#side-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    border-right: solid 3px @major-color;
    background-color: white;

    md-toolbar {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 20px;
    }

    md-list {
        position: absolute;
        top: 64px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
    }
}

#property-bar {
    position: absolute;
    top: 0px;
    left: 300px;
    bottom: 0px;
    width: 300px;
    border-right: solid 3px @major-color;
    background-color: white;
    opacity: 0.85;
}

#panel {
    position: absolute;
    top: 0px;
    left: 300px;
    bottom: 0px;
    width: 0px;
    background-color: white;
    transition: 0.2s;
    opacity: 0;
    overflow-y: auto;

    .panel-form {
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 30px;
    }
}

#panel.open {
    width: 300px;
    border-right: solid 3px @major-color;
    opacity: 0.95;
}

.mz-field-title {
    color: @major-color;
}

.mz-table {

    .mz-cell {
        border-bottom: solid 1px rgba(0,0,0,0.12);
        padding: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mz-cell:last-child {
        border-bottom: none;
    }
}

.mz-range-value-list {
    /*background-color: red;
    padding: 0px;*/
    .md-subheader {
        margin: 0px;
        padding: 0px;
        /*background-color: green;*/
        line-height: 0px;
    }
    /*md-list-item {
        min-height: 0px;
        line-height: 0px;
    }

    .md-button {
        min-height: 0px;
    }*/
    md-list-item {
        height: 2em;
        min-height: initial; // initial makes better sense than 100%?
        // add these if the list contains actions
        // and you might need to add more for other cases, i haven't fully investigated
        .md-button, .md-list-item-inner, .md-secondary-container {
            height: 2em;
            min-height: initial;
        }

        /*> div.md-button {
            padding-right: 2px !important;
        }*/

        .md-secondary-container {
            padding: 0px;

            button.md-secondary {
                /*border: solid 1px red !important;*/
                margin: 0px !important;
                padding-left: 1px !important;
                padding-top: 3px !important;
                width:25px!important;
                height:25px!important;
            }

            .md-secondary {
                font-size: 16px !important;

                md-icon {
                    /*border: solid 1px red;*/
                    padding: 0px !important;
                    margin: 0px !important;
                }

                .md-ripple-container {
                    margin: 0px;
                    /*margin-left: 10px;*/
                    height: 25px !important;
                    width: 25px !important;
                }
            }
        }
    }
}

.mz-layer-list {
    md-list-item {
        > div.md-button {
            padding-right: 2px !important;
        }

        .md-secondary-container {
            padding: 0px;

            .md-secondary {
                margin: 0px;
            }
        }
    }

    .mz-layer-title {
        /*color:black!important;*/
    }

    .mz-layer-type {
        color:#999!important;
        font-style:italic!important;
    }

    .mz-layer-key {
        color:#999!important;
        font-size: 10px!important;
    }
}

