﻿#body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  right: 0px;
}
#side-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  border-right: solid 3px #8C9EFF;
  background-color: white;
}
#side-bar md-toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
}
#side-bar md-list {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}
#property-bar {
  position: absolute;
  top: 0px;
  left: 300px;
  bottom: 0px;
  width: 300px;
  border-right: solid 3px #8C9EFF;
  background-color: white;
  opacity: 0.85;
}
#panel {
  position: absolute;
  top: 0px;
  left: 300px;
  bottom: 0px;
  width: 0px;
  background-color: white;
  transition: 0.2s;
  opacity: 0;
  overflow-y: auto;
}
#panel .panel-form {
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 30px;
}
#panel.open {
  width: 300px;
  border-right: solid 3px #8C9EFF;
  opacity: 0.95;
}
.mz-field-title {
  color: #8C9EFF;
}
.mz-table .mz-cell {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mz-table .mz-cell:last-child {
  border-bottom: none;
}
.mz-range-value-list {
  /*background-color: red;
    padding: 0px;*/
  /*md-list-item {
        min-height: 0px;
        line-height: 0px;
    }

    .md-button {
        min-height: 0px;
    }*/
}
.mz-range-value-list .md-subheader {
  margin: 0px;
  padding: 0px;
  /*background-color: green;*/
  line-height: 0px;
}
.mz-range-value-list md-list-item {
  height: 2em;
  min-height: initial;
  /*> div.md-button {
            padding-right: 2px !important;
        }*/
}
.mz-range-value-list md-list-item .md-button,
.mz-range-value-list md-list-item .md-list-item-inner,
.mz-range-value-list md-list-item .md-secondary-container {
  height: 2em;
  min-height: initial;
}
.mz-range-value-list md-list-item .md-secondary-container {
  padding: 0px;
}
.mz-range-value-list md-list-item .md-secondary-container button.md-secondary {
  /*border: solid 1px red !important;*/
  margin: 0px !important;
  padding-left: 1px !important;
  padding-top: 3px !important;
  width: 25px!important;
  height: 25px!important;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary {
  font-size: 16px !important;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary md-icon {
  /*border: solid 1px red;*/
  padding: 0px !important;
  margin: 0px !important;
}
.mz-range-value-list md-list-item .md-secondary-container .md-secondary .md-ripple-container {
  margin: 0px;
  /*margin-left: 10px;*/
  height: 25px !important;
  width: 25px !important;
}
.mz-layer-list md-list-item > div.md-button {
  padding-right: 2px !important;
}
.mz-layer-list md-list-item .md-secondary-container {
  padding: 0px;
}
.mz-layer-list md-list-item .md-secondary-container .md-secondary {
  margin: 0px;
}
.mz-layer-list .mz-layer-title {
  /*color:black!important;*/
}
.mz-layer-list .mz-layer-type {
  color: #999!important;
  font-style: italic!important;
}
.mz-layer-list .mz-layer-key {
  color: #999!important;
  font-size: 10px!important;
}